<!--The content below is only a placeholder and can be replaced.-->
<div id="hero">
<div id="hero-overlay">
    <div class="container">
            <div class="jumbotron" style="font-family:impact;">
                  <h1><img width="300" src="../assets/javascript-cup.png">JavaScript Developer</h1>
            </div>
            <div class="panel panel-primary">
                      <div class="panel-heading">
                        <marquee style="color: white; font-family: sans-serif; font-size:20px;">Hi,I'm Durjoy. JavaScript coder And Security researcher. I'm very interest to introduce with you for valid reason. Feel free to contact with me. Esential information given below.</marquee>
                      </div>  
            </div>
            <div class="panel-body">
              <img class="img-circle" width="300" src="../assets/durjoy.jpg">
            </div>
               <h2>Here are some links to help you start: </h2>
                        <ul class="nav nav-tabs">
                          <li role="presentation" class="active"><a routerLink="/">Home</a></li>
                          <li role="presentation"><a routerLink="/profile">Profile</a></li>
                          <li role="presentation"><a routerLink="/message">Messages</a></li>
                          <li role="presentation"><a routerLink="/gallery">Gallery</a></li>
                        </ul>
                        <br><router-outlet></router-outlet>
                        <div style="background-color: black; text-align: center;" id="about" class="table-bordered">
                          <h3>About <span style="color: yellow;"> Me </span></h3>
                          <p>Hi I'm Sharifur Rahman Durjoy.I'm very friendly. I'm beginner in development.</p>
                        </div>
            <div class="panel panel-info">
                  <div class="panel-footer">
                  <h5 style="color: lightblue;">Contact</h5>
                    <a target="_blank" href="https://www.facebook.com/sharif.durjoy">
                    <img  alt="facebook" src="../assets/facebook.png" width="60">
                    </a>
                    <a target="_blank" href="https://twitter.com/durjoybhuiyan">
                    <img alt="Twiiter" src="../assets/Twitter.png" width="60">
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/sharifur-rahman-1b86a3148/">
                    <img alt="linkedin" src="../assets/linkedin.png" width="60">
                    </a>
                    <img alt="angular" src="../assets/angular.png" width="60">
                    <img alt="nodejs-512" src="../assets/nodejs-512.png" width="60">
                    <img alt="blg-logo" src="../assets/blg-logo.png" width="60">
                  </div>
            </div>
    </div>
</div>
</div>

