body{
	margin: 0px;
}
#hero{
	background-image: url('../assets/developer.jpg');
	background-size: cover;
	background-position: center center;
	position: relative;
	top: 0;
	bottom: 0;
	height: 100vh;
	z-index: -10;
}
#hero-overlay{
	position: relative;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: -5;
}
#about{
	background-color: #E9E8E8;
}
a:hover{
    background-color: grey;
    color:green;
}
a:active{
	background-color: black;
    color:yellow;
}