<div id="der">
<div id="der-2">
<p style="font-size: 15px;font-style: italic; color: #10bded;">
<span style="font-weight: bold;">Name: Md. Sharifur Rahman Durjoy.</span><br> Date of Birth: 1st January 1995<br> B.Sc in Software Engineering.<br>Daffodil International University<br>Language proficiency: Bengali and English<br>Home Town: Chandpur</p>
<h4>Progress Bar of my technology</h4>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span>JavaScript</span></div>
</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 62%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span>Java and C.prog</span></div>
</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"><span>Database(sql+noSql)</span></div>
</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 67%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><span>Cyber Security</span></div>
</div>
</div>
</div>